body{
     margin:auto 0;
    background-color:black;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color:blue;
}

.navbar {
    display:grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap:1px;
    padding-left:20px;
    padding-right: 20px; 
}
li {
    list-style: none;
}

.links {
    display:grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow:column;
    grid-gap: 20px;
    font-size:20px;
    margin:0;
}

.logo {
    font-size:15px;
    display:grid;
    justify-content:start;
    align-content: center;
    color: white;
    padding:50px;
    
}

main {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.textbox {
    grid-column: 4;
    grid-row: 1 / span 1;
}

.title {
    color:blue;
}

.text {
    color:white;
}

.learn-more {
    color:blue;
}

.learn-more:hover {
    color: navy;  
}

.price {
    color:white;
}


.thumbnail{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;  
}

.bikeside {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;  
    width:400%;
}

footer{
    margin-top: auto;
    padding: 3em;
    text-align: end; 
}

.right{ 
    width: 2rem;
    height: 2rem;
    background-color: blue;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    align-items: flex-end;
}

.right i{
    color: #0c0101;
    font-size: 1rem;
    margin: auto;
}
