body {
     margin:auto 0;
    background-color:black;
}

a {
    text-decoration: none;
    color:white;
}
.overview {
    color:blue;
}

.engineering{
    color:blue;
}

#cockpit {
    color:blue;
}

a:hover {
    color:blue;
}

a i:hover {
    color:navy;
}

.navbar {
    display:grid;
    min-height: 100px;
    grid-auto-flow: column;
    grid-gap:1px;
    padding-left:20px;
    padding-right: 20px; 
}

li {
    list-style: none;
}

.links {
    display:grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow:column;
    grid-gap: 20px;
    font-size:20px;
    margin:0;
}

.logo {
    font-size:15px;
    display:grid;
    justify-content:start;
    align-content: center;
    color: white;
    padding:50px;
    
}

main {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
.textbox {
    grid-column: 4;
    grid-row: 1 / span 2;
}

.title {
    color:blue;
}

.text {
    color:white;
    
}

.learn-more {
    color:blue;
}

.learn-more:hover {
    color: navy;  
}

.price {
    color:white;
}

.thumbnail{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;  
}

.bikeside {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;  
    width:400%;
}

.bikefront {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;  
    width:400%;
}

.cockpit {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;  
    width:400%;
}

.right{ 
    display:flex;
    grid-column: 4;
    grid-row: 4;
    width: 3rem;
    height: 3rem;
    color: blue;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    cursor: pointer;
    align-items: flex-end;
    justify-self: center;
    size:20px;

}

.left{ 
    display:flex;
    grid-column: 4;
    grid-row: 4;
    width: 3rem;
    height: 3rem;
    color: blue;
    top: -2.5rem;
    right: rem;
    border-radius: 100%;
    cursor: pointer;
    align-items: flex-end;
    justify-self: center;
}

a i {
    color:blue;
}

@media screen and (max-width: 576px) {
    .small-100 {
      width: 100%;
    }
    .hidden-small {
      display: none;
    }
  }




