/*---------header-----------*/
.nav-container {
    width: 100%;
    background:black;
}

nav {
    max-width: 970px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border:black;
}

nav a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .5em;
    padding:1rem;
}

.right-menu {
    grid-column: 3 / span 2;
}

.right-menu a {
    padding: 10px 0;
    margin-right: 25px;
    font-size: 8px;
    font-weight: 300;
}

.logo {
    grid-column: 1;
    font-size: 15px;
    padding: 1rem;
}

/*--------------body-------*/
body{
    margin:auto 0;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color:black;
}
/* 
.textbox {
    display:grid;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
} */

.title {
    color:blue;
}

.text {
    display:grid;
    color:white;
}

.learn-more {
    color:blue;
}


/*----------------image---------*/
.bikeside{
    display:grid;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}

